@font-face {
  font-family: 'Roboto-100';
  src:url('./fonts/Roboto-100.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-100italic';
  src:url('./fonts/Roboto-100italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-300';
  src:url('./fonts/Roboto-300.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-300italic';
  src:url('./fonts/Roboto-300italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-500';
  src:url('./fonts/Roboto-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-500italic';
  src:url('./fonts/Roboto-500italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-700';
  src:url('./fonts/Roboto-700.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-700italic';
  src:url('./fonts/Roboto-700italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-900';
  src:url('./fonts/Roboto-900.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-900italic';
  src:url('./fonts/Roboto-900italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-italic';
  src:url('./fonts/Roboto-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-regular';
  src:url('./fonts/Roboto-regular.ttf') format('truetype');
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
